# coding: utf-8

"""
    Masking API

    Schema for the Continuous Compliance Engine API  # noqa: E501

    OpenAPI spec version: 5.1.18
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from dxm.lib.masking_api.api_client import ApiClient


class FileRulesetApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def bulk_file_update(self, file_ruleset_id, body, **kwargs):  # noqa: E501
        """Update the set of files and their attributes associated with a file ruleset in bulk  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.bulk_file_update(file_ruleset_id, body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int file_ruleset_id: The ID of the file ruleset to update the file for (required)
        :param FileMetadataBulkInput body: The exact list of files to put in the ruleset. Note that existing files for this ruleset not in this list will be deleted (required)
        :return: AsyncTask
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.bulk_file_update_with_http_info(file_ruleset_id, body, **kwargs)  # noqa: E501
        else:
            (data) = self.bulk_file_update_with_http_info(file_ruleset_id, body, **kwargs)  # noqa: E501
            return data

    def bulk_file_update_with_http_info(self, file_ruleset_id, body, **kwargs):  # noqa: E501
        """Update the set of files and their attributes associated with a file ruleset in bulk  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.bulk_file_update_with_http_info(file_ruleset_id, body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int file_ruleset_id: The ID of the file ruleset to update the file for (required)
        :param FileMetadataBulkInput body: The exact list of files to put in the ruleset. Note that existing files for this ruleset not in this list will be deleted (required)
        :return: AsyncTask
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['file_ruleset_id', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method bulk_file_update" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'file_ruleset_id' is set
        if self.api_client.client_side_validation and ('file_ruleset_id' not in params or
                                                       params['file_ruleset_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `file_ruleset_id` when calling `bulk_file_update`")  # noqa: E501
        # verify the required parameter 'body' is set
        if self.api_client.client_side_validation and ('body' not in params or
                                                       params['body'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `body` when calling `bulk_file_update`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'file_ruleset_id' in params:
            path_params['fileRulesetId'] = params['file_ruleset_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/file-rulesets/{fileRulesetId}/bulk-file-update', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AsyncTask',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def copy_file_ruleset(self, file_ruleset_id, body, **kwargs):  # noqa: E501
        """Copy file ruleset by ID  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.copy_file_ruleset(file_ruleset_id, body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int file_ruleset_id: The ID of the file ruleset to copy (required)
        :param FileRulesetCopy body: The name of the ruleset. This must be unique within an environment. (required)
        :return: FileRuleset
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.copy_file_ruleset_with_http_info(file_ruleset_id, body, **kwargs)  # noqa: E501
        else:
            (data) = self.copy_file_ruleset_with_http_info(file_ruleset_id, body, **kwargs)  # noqa: E501
            return data

    def copy_file_ruleset_with_http_info(self, file_ruleset_id, body, **kwargs):  # noqa: E501
        """Copy file ruleset by ID  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.copy_file_ruleset_with_http_info(file_ruleset_id, body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int file_ruleset_id: The ID of the file ruleset to copy (required)
        :param FileRulesetCopy body: The name of the ruleset. This must be unique within an environment. (required)
        :return: FileRuleset
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['file_ruleset_id', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method copy_file_ruleset" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'file_ruleset_id' is set
        if self.api_client.client_side_validation and ('file_ruleset_id' not in params or
                                                       params['file_ruleset_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `file_ruleset_id` when calling `copy_file_ruleset`")  # noqa: E501
        # verify the required parameter 'body' is set
        if self.api_client.client_side_validation and ('body' not in params or
                                                       params['body'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `body` when calling `copy_file_ruleset`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'file_ruleset_id' in params:
            path_params['fileRulesetId'] = params['file_ruleset_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/file-rulesets/{fileRulesetId}/copy', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='FileRuleset',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_file_ruleset(self, body, **kwargs):  # noqa: E501
        """Create file ruleset  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_file_ruleset(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param FileRuleset body: The file ruleset to create (required)
        :return: FileRuleset
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_file_ruleset_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_file_ruleset_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_file_ruleset_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create file ruleset  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_file_ruleset_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param FileRuleset body: The file ruleset to create (required)
        :return: FileRuleset
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_file_ruleset" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if self.api_client.client_side_validation and ('body' not in params or
                                                       params['body'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `body` when calling `create_file_ruleset`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/file-rulesets', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='FileRuleset',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_file_ruleset(self, file_ruleset_id, **kwargs):  # noqa: E501
        """Delete file ruleset by ID  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_file_ruleset(file_ruleset_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int file_ruleset_id: The ID of the file ruleset to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_file_ruleset_with_http_info(file_ruleset_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_file_ruleset_with_http_info(file_ruleset_id, **kwargs)  # noqa: E501
            return data

    def delete_file_ruleset_with_http_info(self, file_ruleset_id, **kwargs):  # noqa: E501
        """Delete file ruleset by ID  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_file_ruleset_with_http_info(file_ruleset_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int file_ruleset_id: The ID of the file ruleset to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['file_ruleset_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_file_ruleset" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'file_ruleset_id' is set
        if self.api_client.client_side_validation and ('file_ruleset_id' not in params or
                                                       params['file_ruleset_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `file_ruleset_id` when calling `delete_file_ruleset`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'file_ruleset_id' in params:
            path_params['fileRulesetId'] = params['file_ruleset_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/file-rulesets/{fileRulesetId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_all_file_rulesets(self, **kwargs):  # noqa: E501
        """Get all file rulesets  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_all_file_rulesets(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int environment_id: The ID of the environment to get all file rulesets from
        :param int page_number: The page number for which to get file rulesets. This will default to the first page if excluded
        :param int page_size: The maximum number of objects to return. This will default to the DEFAULT_API_PAGE_SIZE property if not provided
        :return: FileRulesetList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_all_file_rulesets_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_all_file_rulesets_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_all_file_rulesets_with_http_info(self, **kwargs):  # noqa: E501
        """Get all file rulesets  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_all_file_rulesets_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int environment_id: The ID of the environment to get all file rulesets from
        :param int page_number: The page number for which to get file rulesets. This will default to the first page if excluded
        :param int page_size: The maximum number of objects to return. This will default to the DEFAULT_API_PAGE_SIZE property if not provided
        :return: FileRulesetList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['environment_id', 'page_number', 'page_size']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_all_file_rulesets" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'environment_id' in params:
            query_params.append(('environment_id', params['environment_id']))  # noqa: E501
        if 'page_number' in params:
            query_params.append(('page_number', params['page_number']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/file-rulesets', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='FileRulesetList',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_file_ruleset_by_id(self, file_ruleset_id, **kwargs):  # noqa: E501
        """Get file ruleset by ID  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_file_ruleset_by_id(file_ruleset_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int file_ruleset_id: The ID of the file ruleset to get (required)
        :return: FileRuleset
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_file_ruleset_by_id_with_http_info(file_ruleset_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_file_ruleset_by_id_with_http_info(file_ruleset_id, **kwargs)  # noqa: E501
            return data

    def get_file_ruleset_by_id_with_http_info(self, file_ruleset_id, **kwargs):  # noqa: E501
        """Get file ruleset by ID  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_file_ruleset_by_id_with_http_info(file_ruleset_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int file_ruleset_id: The ID of the file ruleset to get (required)
        :return: FileRuleset
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['file_ruleset_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_file_ruleset_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'file_ruleset_id' is set
        if self.api_client.client_side_validation and ('file_ruleset_id' not in params or
                                                       params['file_ruleset_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `file_ruleset_id` when calling `get_file_ruleset_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'file_ruleset_id' in params:
            path_params['fileRulesetId'] = params['file_ruleset_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/file-rulesets/{fileRulesetId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='FileRuleset',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
